# Unity生成的文件
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# 自动生成的文件
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs

# 不需要的资产
*.pidb
*.meta
*.pdb
*.ilk
*.dll